.bggcard-game-title{
    font-family: roboto;
    font-size: 1.8rem;
    font-weight: 700;
    color: #292929;
}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 600px) {
    .bg-card-image{
        height: 300px;
    }

    .bg-card-image-background{
        height: 340px !important;
    }

    .bg-card-image-center{
        top: 20px !important;
    }
}

.bg-card-image{
    background-repeat: no-repeat !important;
    background-size: 200px 300px !important;
    width: auto !important;

}

.bg-card-image-parent{
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 6px;
}



.bg-card-image-background{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
    top: 0;
    left: 0;
    /*Fullheight*/
    height: 170px;
    /*Centerandscaletheimagenicely*/background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
}

.bg-card-image-center{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    
    z-index: 200;
}