.bggcard-game-title{
    font-family: roboto;
    font-size: 1.8rem;
    font-weight: 700;
    color: #292929;
}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 600px) {
    .bg-card-image{
        height: 300px;
    }

    .bg-card-image-background{
        height: 340px !important;
    }

    .bg-card-image-center{
        top: 20px !important;
    }
}

.bg-card-image{
    background-repeat: no-repeat !important;
    background-size: 200px 300px !important;
    width: auto !important;

}

.bg-card-image-parent{
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 6px;
}



.bg-card-image-background{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
    top: 0;
    left: 0;
    /*Fullheight*/
    height: 170px;
    /*Centerandscaletheimagenicely*/background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
}

.bg-card-image-center{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    -webkit-animation: fadein 1s;
    /*Safari,ChromeandOpera>12.1*/-moz-animation: fadein 1s;
    /*Firefox<16*/-ms-animation: fadein 1s;
    /*InternetExplorer*/-o-animation: fadein 1s;
    /*Opera<12.1*/animation: fadein 1s;
    z-index: 200;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}