.bggcard-game-title{
    font-family: roboto;
    font-size: 1.8rem;
    font-weight: 700;
    color: #292929;
}

@media only screen and (min-width: 960px) {
    .bg-card-image{
        height: 250px;
    }
}

@media only screen and (min-width: 600px) {
    .bg-card-image{
        height: 200px;
    }
}

.bg-card-image{
    background-repeat: no-repeat !important;
    background-size: 100px 100px !important;
    width: auto !important;
}