.navbar-left-text {
  display: flex;
  align-items: center;
}

.navbar-left-text-font {
  font-family: Osworld, sans-serif !important;
  font-size: 2.5rem !important;
  font-weight: 300 !important;
}

.navbar-logo {
  height: 50px;
  fill: #e75723;
  width: auto;
  margin-left: 12px;
  min-width: 50px;
  margin-right: 12px;
}
